.listed-invi {
	display: flex;
	align-items: center;
	margin:12px;
	border-radius: 6px;
	background: #eee;
	width:100%;
	height: 100px;
	padding:10px;
	line-height: 25px;
	cursor: pointer;
}
.listed-invi .img-container {
	height: 60px;
	border:1px solid lightgrey;
	width: 60px;
	border-radius: 50%;
	overflow: hidden;
}
.listed-invi .img-container img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.listed-invi p {
	margin:0;
}
.user-name {
	color:#000;
}
.listed-invi .email,
.listed-invi .dofb {
	font-size: .8rem;
	color:grey;
}
.listed-invi .accept-invi {
	background: #32a852;
	border:none;
	color:#fff;
	padding:4px 12px;
	font-size: .9rem;
	margin:0 4px;
	cursor: pointer;
	border-radius: 4px;
}
.listed-invi .refuse-invi {
	background: #d13d3d;
	border:none;
	color:#fff;
	padding:4px 12px;
	font-size: .9rem;
	margin:0 4px;
	cursor: pointer;
	border-radius: 4px;
}
